<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="CSSLoss.com">
        
        <!-- icon and title -->
        <link rel="icon" href="">
        <title>hu zi-yuan</title>

        <!-- BOOTSTRAP CORE CSS -->
        <link rel="stylesheet" href="./44_files/bootstrap.min.css">

        <!-- PLUGIN STYLES FOR THIS TEMPLATE -->
        <link rel="stylesheet" href="./44_files/magnific-popup.css">
        <link rel="stylesheet" href="./44_files/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="./44_files/bg-text-effect.css">

        <!-- MAIN STYLE FOR THIS TEMPLATE -->
        <link rel="stylesheet" href="./44_files/main.css">
        <link rel="stylesheet" href="./44_files/add.css">
        <link rel="stylesheet" href="./44_files/entypo.css">
    
    </head>


    <body class="layout-2 audio-on">
        

        <!-- DOWNLOAD CV -->
        


        <!-- NAV SOCIAL -->
        <div class="nav-social">
            <ul>
				<li><a href="https://www.facebook.com/profile.php?id=100000121300245"><i class="fa fa-facebook"></i></a></li>
                <li><i class="fa fa-twitter"></i></li>
				<li><a href="https://github.com/1tangerine1day"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>

        <!-- INTRO SECTION -->
        <div id="intro" class="section-intro">

            <!-- LOGO -->
            <a href="" class="logo"><img src="./44_files/logo.png" alt="Logo"></a>

            <!-- NAV TOGGLE -->
            <button class="nav-toggle wave flipped">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </button>

            <!-- RESUME CLOSE -->
            <div class="resume-close"></div>

            <!-- LANGUAGE -->
            
            <div class="container">
                <div class="row intro-row">
                    <div class="col-md-4 intro-image">

                        <!-- YOUR AVATAR -->
                        <img src="./44_files/avatar.jpg" alt="" class="avatar">

                    </div>
                    <div class="col-md-8 intro-text">
                        <h1>I'm <span class="typed"></span><span class="typed-cursor">|</span></h1>

                        <!-- TYPED STRINGS -->
                        <div class="typed-strings" style="display: none;">
                            <p></p>
                            <p>Hu zi-yuan</p>
                            <p></p>
                            <p>Hu zi-yuan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /END INTRO SECTION -->

        <!-- RESUME SECTION -->
        <div id="resume" class="section-resume mCustomScrollbar _mCS_1 mCS-autoHide" style="overflow: visible;" data-mcs-theme="dark">
            
			<div class="container-fluid">

                <!-- ABOUT -->
                <div class="row asymetric">
                    <div class="col-lg-3">
                        <div class="section-header">
                            <h2>About</h2>
                            <p>What I'm all about.</p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div>
                            <p class="text">
                                Hello, my name is hu zi-yuan. I am a lazy guy, so if you want to know about me click the facebook button.By the way, i don't have twitter so don't press twitter button.
                            </p>
                            <ul class="info-list list-unstyled row p-t-30">
                                <li class="col-sm-6 col-md-3"><strong>Full Name</strong><span>Hu zi-yuan</span></li>
                                <li class="col-sm-6 col-md-3"><strong>Birthday</strong><span>june 26, 1996</span></li>
                                <li class="col-sm-6 col-md-3"><strong>Residence</strong><span>Taiwan</span></li>
                                <li class="col-sm-6 col-md-3"><strong>Email</strong><span>u10316034@gmail.com</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            
            
             <!-- PORTFOLIO -->
                <div class="row asymetric">
                    <div class="col-lg-3">
                        <div class="section-header">
                            <h2>Portfolio</h2>
                            <p>Picture of me.</p>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div>
                            <div class="gallery-menu p-b-40">
                                
                                    
                            </div>
                            <div class="row gallery" style="position: relative; height: 857.814px;">
                                <div class="col-sm-6 gallery-item web" style="position: absolute; left: 0%; top: 0px;">
                                    <a class="popup-image" href="https://scontent-tpe1-1.cdninstagram.com/t51.2885-15/e35/12353409_136014093435501_161264718_n.jpg?ig_cache_key=MTE0MzMzOTE2ODQ3MTE4NzY0Ng%3D%3D.2">
                                        <img src="img/portfolio/1_thumb.jpg" alt="" class="mCS_img_loaded">
                                        <div class="gallery-caption">
                                            <div>
                                                <h4>Changxing</h4>
                                                <h5>Primary School</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 gallery-item web" style="position: absolute; left: 50%; top: 0px;">
                                    <a class="popup-image" href="https://scontent-tpe1-1.cdninstagram.com/t51.2885-15/e35/12904992_256347418033549_1567429921_n.jpg?ig_cache_key=MTIxNjcyMDE0MjUwNDAzNDMxNA%3D%3D.2" >
                                        <img src="img/portfolio/2_thumb.jpg" alt="" class="mCS_img_loaded">
                                        <div class="gallery-caption">
                                            <div>
                                                <h4>Friend's</h4>
                                                <h5>birthday dinner</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 gallery-item web" style="position: absolute; left: 0%; top: 285px;">
                                    <a class="popup-image" href="https://scontent-tpe1-1.cdninstagram.com/t51.2885-15/e35/12479428_703209693116089_1407658630_n.jpg?ig_cache_key=MTIyMzg4NTk4MDM0NDUxNzYyOA%3D%3D.2">
                                        <img src="img/portfolio/3_thumb.jpg" alt="" class="mCS_img_loaded">
                                        <div class="gallery-caption">
                                            <div>
                                                <h4>food</h4>
                                                <h5>and drunk</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 gallery-item web" style="position: absolute; left: 50%; top: 285px;">
                                    <a class="popup-image" href="https://scontent-tpe1-1.cdninstagram.com/t51.2885-15/e35/927869_1251971988151732_454609750_n.jpg?ig_cache_key=MTE2MzQwNjA2MTk3NTcyMDEzOQ%3D%3D.2">
                                        <img src="img/portfolio/4_thumb.jpg" alt="" class="mCS_img_loaded">
                                        <div class="gallery-caption">
                                            <div>
                                                <h4>Hualien</h4>
                                                <h5>travel</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /END PORTFOLIO -->
			</div>
		</div>
            
        <!-- /END RESUME SECTION -->

        <!-- AUDIO -->
        <audio id="audio-player" loop="">
            
        </audio>
        <!-- /END AUDIO -->

        <!-- jQuery -->
        <script src="./44_files/jquery-1.11.3.min.js"></script>

        <!-- BOOTSTRAP CORE JAVASCRIPT -->
        <script src="./44_files/bootstrap.min.js"></script>

        <!-- PLUGIN SCRIPTS FOR THIS TEMPLATE -->
        <script src="./44_files/plugins.js"></script>
        <script src="./44_files/audio.js"></script>
        <script src="./44_files/bg-text-effect.js"></script>

        <!-- MAIN SCRIPT FOR THIS TEMPLATE -->
        <script src="./44_files/main.js"></script>
        
    

</body></html>